$weather-card-background-color: #d6d4d4;
$html-background-color: #ded4dc;
$light-font-color: #676767;

html {
  height: 100%;
  background-color: $html-background-color;
}


.zip-form {
  // left: 50%;
  // transform: translateX(-50%);
  text-align: center;
}

.zip-label {
  position: relative;
  margin-right: 20px;
  top: 4px;
  display: inline-block;
  border-bottom: 1px solid grey;
}

.zip-clear {
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  svg {
    width: 20px;
    fill: rgba(0, 0, 0, 0.54);
  }
}

.zip-input {
  outline: none;
  border: none;
  padding-left: 5px;
  padding-bottom: 2px;
  background-color: transparent;
  font-size: 1.4rem;
  width: 150px;
  color: rgba(0, 0, 0, 0.54);
}

#zip-submit {
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 12px;
  border: 1px solid grey;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.875rem;
  outline: none;
  text-transform: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.nav-border-wrapper {
  border-bottom: 1px solid black;
}

.nav-wrapper {
  font-family: nhaas;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  h1 {
    margin: 0;
    font-size: 1.7rem;
    // letter-spacing: 0.2px;
    font-weight: normal;
    // flex: 1;
  }
  &:first-child {
    margin-right: auto;
  }
  &:last-child {
    > * {
      margin-left: auto;
    }
  }
  > * {
    flex: 1;
  }
}

.unit-buttons {
  .MuiToggleButton-root {
    margin-left: auto;
    padding: 6px 7px 6px 9px;
    .MuiToggleButton-label {
      width: 18px;
      padding-left: 2px;
    }
    &:last-child {
      margin-right: 30px;
    }
  }
}

.weather-header-wrapper {
  max-width: 1440px;
  margin: 80px auto 40px;
  display: flex;
  align-items: center;
}

.weather-header {
  margin: 0 70px 0 0px;
  display: inline;
  font-weight: 300;
  font-size: 2rem;
  &.error {
    padding: 15px 20px;
    border-radius: 4px;
    display: block;
    text-align: center;
    background-color: #ffffb0;
  }
}

.current-time {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 35px;
  width: 110px;
  text-align: right;
}

.current-weather {
  font-size: 1.5rem;
  margin-right: 15px;
  font-weight: 500;
  width: 45px;
  text-align: right;
}

.current-icon {
  width: 60px;
  height: 60px;
}

.header-line {
  flex: 1;
  border-bottom: 1px solid grey;
  width: auto;
  height: 0px;
}

#weather-day-container {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.day-container {
  // display: flex;
  max-width: 1440px;
  margin: 0 auto;
  // font-family: sans-serif;
}

.custom-weather-slider {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  .slick-list {

  }
  .slick-track {
    display: flex;
  }
}

.custom-weather-slider:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 0;
  height: 100%;
  pointer-events: none; /*makes the linkes behind clickable.*/
}

.custom-weather-slider:after {
  right: 0;
  background: linear-gradient(to left, $html-background-color, transparent);
}

.slick-slide {
  // width: 240px;
  // margin-right: 55px;
  padding: 15px 80px 15px 0px;
  @media(max-width: 769px) {
    padding: 15px 70px 15px 0px;
  }
}

.day-wrapper {
  // border: 1px solid grey;
  // width: 240px;
  // padding: 15px 45px;
  outline: none;
  width: 230px;
  // flex: 1;
  // background-color: $weather-card-background-color;
  // border-radius: 10px;
  .date-wrapper {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .day-title {
      // font-family: nhaas;
      text-align: left;
      flex: 1;
      font-weight: 300;
    }
    .max-temp {
      color: black;
    }
    .min-temp {
      color: grey;
    }
    .max-temp, .min-temp {
      font-weight: 500;
      min-width: 50px;
      text-align: right;
    }
  }
}

.current-day-weather {
  display: flex;
  .current-time-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: $light-font-color;
    .hour-temp {
      text-align: right;
      width: 30px;
      font-weight: 400;
    }
    .hour-time {
      width: 75px;
      font-weight: 300;
      text-align: right;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}


.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: ;
  font-size: 0.9rem;
  color: $light-font-color;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  img {
    width: 40px;
    height: 40px;
  }
  .hour-temp {
    text-align: right;
    width: 30px;
    font-weight: 400;
  }
  .hour-time {
    width: 75px;
    font-weight: 300;
    text-align: right;
  }
}
