$weather-card-background-color: #d6d4d4;
$html-background-color: rgba(222,212,220, 1);
$html-background-color-blank: rgba(222,212,220, 0);
$light-font-color: #676767;

$large-weather-padding: 100px;
$medium-weather-padding: 40px;
$small-weather-padding: 20px;

$slick-slige-margin-large: 80px;
$slick-slige-margin-medium: 70px;

html {
  height: 100%;
  background-color: $html-background-color;
}

html, body {
   overscroll-behavior-x: none;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.outer-wrapper {
  overflow-x: hidden;
  min-height: 720px;
}

// Flexbox line-break utility

.line-break {
  width: 100%;
  display: none;
}

// NAV FORMATTING

.nav-border-wrapper {
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  background-color: $html-background-color;
  z-index: 10000;
}

.nav-wrapper {
  font-family: nhaas;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: normal;
    .title-small {
      display: none;
    }
  }
  &:first-child {
    margin-right: auto;
  }
  &:last-child {
    > * {
      margin-left: auto;
    }
  }
  > * {
    flex: 1;
  }
}

// ZIP CODE INPUT

.zip-form {
  display: flex;
  justify-content: center;
}

.zip-label {
  position: relative;
  top: 0px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.zip-clear {
  position: absolute;
  display: flex;
  right: 5px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  top: 3px;
  background-color: transparent;
  border: none;
  outline: none;
  svg {
    fill: $light-font-color;
    width: 18px;
  }
}

.zip-input-wrapper {
  position: relative;
  display: inline-flex;
  margin-right: 20px;
}

.zip-input {
  outline: none;
  border: none;
  padding: 0 0 2px 5px;
  padding-left: 5px;
  padding-bottom: 0px;
  background-color: transparent;
  font-size: 1.4rem;
  width: 150px;
  height: 30px;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}

#zip-submit {
  background-color: transparent;
  border-radius: 4px;
  padding: 2px 12px;
  border: 1px solid grey;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.875rem;
  outline: none;
  text-transform: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

// UNIT BUTTONS IN NAV

.unit-buttons {
  .MuiToggleButton-root {
    margin-left: auto;
    padding: 4px 7px 3px 9px;
    .MuiToggleButton-label {
      width: 18px;
      padding-left: 2px;
    }
    &:last-child {
      margin-right: 30px;
    }
  }
}

// WEATHER HEADER (displays city/current weather)

.weather-header-wrapper {
  max-width: 600px;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
}

.weather-header {
  margin: 0;
  display: inline;
  font-weight: 300;
  font-size: 2rem;
  flex-grow: 1;
  transition: flex-grow 0.2s;
  &.error {
    padding: 15px 20px;
    border-radius: 4px;
    display: block;
    text-align: center;
    background-color: #ffffb0;
  }
}

.current-time {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 35px;
  width: 110px;
  text-align: right;
}

.current-weather {
  font-size: 1.5rem;
  margin-right: 15px;
  font-weight: 500;
  width: 45px;
  text-align: right;
}

.current-icon {
  width: 60px;
}

.header-line {
  flex: 1;
  border-bottom: 1px solid grey;
  width: auto;
  height: 0px;
}

// CONTAINER FOR THE SUBSEQUENT DAYS' WEATHER

#weather-day-container {
  padding-left: $large-weather-padding;
  padding-right: $large-weather-padding;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 124px;
  .slick-dots {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.day-container {
  max-width: 1440px;
  margin: 0 auto;
}

// SLIDER STYLING/OVERRIDES FROM SLICK

.custom-weather-slider {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  cursor: grab;
  .slick-list {
    overflow: visible;
  }
  .slick-track {
    display: flex;
  }
  .slick-prev, .slick-next {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 40px;
    padding: 6px;
    z-index: 2;
    &.slick-disabled:before, &.slick-disabled:hover:before, &.slick-disabled:focus:before {
      opacity: 0.3;
    }

    &:not(.slick-disabled), &:not(.slick-disabled):hover:before, &:not(.slick-disabled):focus:before {
      opacity: 0.75;
    }
    &:before {
      font-size: 23px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .slick-prev {
    left: -65px;
    right: auto;
    &:before {
      content: url('arrow-left.svg');
    }
  }
  .slick-next {
    left: calc(100% + 65px);
    right: auto;
    &:before {
      content: url('arrow-right.svg');
    }
  }
}

// FADE OVVERLAYS ON LEFT/RIGHT

.custom-weather-slider:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: $large-weather-padding / 2 - 10px;
  top: 0;
  height: 100%;
  pointer-events: none; /*makes the linkes behind clickable.*/
  left: 100%;
  border-right: 4000px solid $html-background-color;
  background: linear-gradient(to right, $html-background-color-blank, $html-background-color);
}

.custom-weather-slider:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: $large-weather-padding / 2 - 10px;
  top: 0;
  height: 100%;
  pointer-events: none; /*makes the linkes behind clickable.*/
  right: 100%;
  border-left: 4000px solid $html-background-color;
  background: linear-gradient(to left, $html-background-color-blank, $html-background-color);
}

.slick-slide {
  padding: 15px 60px 15px 0;
  min-width: 280px;
}

// CONTAINER FOR EACH DAY IN SLIDER

.day-wrapper {
  outline: none;
  .date-wrapper {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .day-title {
      text-align: left;
      flex: 1;
      font-weight: 300;
    }

    .max-temp {
      color: black;
    }

    .min-temp {
      color: grey;
    }

    .max-temp, .min-temp {
      font-weight: 500;
      width: 44px;
      text-align: right;
    }

    .daily-icon {
      display: flex;
      justify-content: center;
      width: 55px;
      margin-left: 10px;
    }
  }
}

// TOP BANNER IN EACH DAY

.current-day-weather {
  display: flex;

  .current-time-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: $light-font-color;

    .hour-temp {
      text-align: right;
      width: 30px;
      font-weight: 400;
    }

    .hour-time {
      width: 75px;
      font-weight: 300;
      text-align: right;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.precip-percent {
  color: rgba(27, 109, 234, 0.68);
}

.time-percent-wrapper {
  position: relative;
  .precip-percent {
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75rem;
  }
}

.weather-header-wrapper {
  position: relative;
  .precip-percent {
    font-size: 1.2rem;
    margin-left: 10px;
    position: absolute;
    left: calc(100%);
  }
}

// WRAPPER FOR EACH INCREMENT

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: $light-font-color;
  margin-right: 10px;
  margin-bottom: 5px;
  max-width: 65%;
  margin-left: 10px;
  img {
    width: 40px;
    height: 40px;
    margin-left: -5px;
  }
  .hour-temp {
    text-align: right;
    width: 30px;
    font-weight: 400;
  }
  .hour-time {
    width: 75px;
    font-weight: 300;
    text-align: right;
  }
}

@media (max-width: 1024px) {
  #weather-day-container {
    padding-left: $medium-weather-padding;
    padding-right: $medium-weather-padding;
  }

  .custom-weather-slider {
    .slick-prev {
      left: -55px;
    }
    .slick-next {
      left: calc(100% + 55px);
    }
  }

  .custom-weather-slider:before {
    width: $medium-weather-padding / 2 - 10px;
  }

  .custom-weather-slider:after {
    width: $medium-weather-padding / 2 - 10px;
  }

  .zip-form {
    flex: 2;
  }
  .unit-buttons {
    .MuiToggleButton-root {
      .MuiToggleButton-label {
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media(max-width: 880px) {
  .nav-wrapper {
    h1 {
      flex: 1;
    }
  }
  .unit-buttons {
    flex: 0;

    .MuiToggleButton-root {
      .MuiToggleButton-label {
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .weather-header-wrapper {
    flex-wrap: wrap;
    .weather-header {
      margin: 0;
      font-size: 1.8rem;
    }
    .precip-percent {
      position: relative;
      right: auto;
      left: auto;
    }
  }
}

@media (max-width: 700px) {
  #zip-submit {
    display: none;
  }
  .slick-slide {
    // padding:  ;
    padding-right: 0px;
  }
  .day-wrapper {
    .date-wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }
  .weather-header-wrapper {
    margin: 0 auto;
    align-items: center;
    // justify-content: center;
    .weather-header {
      flex-grow: 0;
    }
  }

  .time-percent-wrapper {
    display: flex;
    // justify-content: center;
    .time-wrapper {
      min-width: 200px;
      max-width: 230px;
      position: relative;
      width: 55%;
      left: 20px;
      .precip-percent {
        top: auto;
        left: auto;
        right: -40px;
        transform: none;
      }
    }
  }

}

@media (max-width: 632px) {
  .line-break {
    display: block;
  }
  .current-time {
    text-align: left;
    margin-right: 5px;
  }
  .weather-header-wrapper {
    margin: 0 auto;
    justify-content: center;
  }
}

@media (max-width: 568px) {
  .zip-input {
    width: 120px;
  }

  .zip-form {
    flex: 1;
    justify-content: center;
    .zip-input-wrapper {
      margin-right: 0;
      justify-content: inherit;
    }
  }

  .unit-buttons {
    flex: 1;
  }


  .slick-slide {
    // min-width: 270px;
    // padding: 15px 50px 15px 0;
  }

  .time-percent-wrapper {
    justify-content: center;
    .time-wrapper {
      position: relative;
      width: 55%;
      left: -8px;
    }
  }

  .nav-wrapper {
    h1 {
      flex: 1;
      .title-small {
        display: inline-block;
      }
      .title-large {
        display: none;
      }
    }
  }
  #weather-day-container {
    padding-left: $small-weather-padding;
    padding-right: $small-weather-padding;
    margin-top: 106px;
  }

  .custom-weather-slider:before {
    width: 60px;
    right: 95%;
  }

  .custom-weather-slider:after {
    width: 60px;
    left: 90%;
  }

  .weather-header-wrapper {
    margin: 0 auto;
    .weather-header {
      font-size: 1.7rem;
    }
    .current-time {
      font-size: 1.4rem;
      margin-right: 0px;
      margin-left: 15px;
    }
    .current-weather {
      font-size: 1.4rem;
    }
  }

}
